.gift{
    background-color:rgb(100,201,202); display: inline-block;width: 250px;height: 150px
}
.gift1{
    background-color:rgb(100,201,202); display: inline-block;width: 100px;height: 150px
}
.user{
    background-color:rgb(255,106,100); display: inline-block;width: 250px;height: 150px
}